language: bash

addons:
  apt:
    sources:
    - debian-sid    # Grab shellcheck from the Debian repo (o_O)
    packages:
    - shellcheck

script:
 - bash -c 'shopt -s nullglob globstar; shellcheck **/*.{sh,bash}'
 - bash test.sh
